.container{
    background-color: tomato;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.box {
    background-color: bisque;
    border-radius: 5px;
    padding: 20px;
    width: 30vw;
    margin: 10px;
}

.overBox{
    background-color: aquamarine;
}

.menu {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: coral;
    margin: 10px;
}

.overMenu{
    background-color: crimson;
}

/* id가 boxCart인 태그의 자식 노드로 들어간 .menu인 경우 */
#boxCart .menu{
    height: 60px;
    background-color: aquamarine;
    border-color: yellow;
}

.draggingMenu {
    border-color: red;
}