.container{
    background-color: tomato;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.box {
    background-color: bisque;
    border-radius: 5px;
    padding: 20px;
    width: 30vw;
    margin: 10px;
}

.overBox{
    background-color: aquamarine;
}

.menu {
    border: 1px solid black;
    padding: 10px;
    background-color: coral;
    margin: 10px;
}

.draggingMenu {
    border-color: red;
}