body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

header {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    height: 70%;
    width: 1600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
/* 메뉴판 설정 */
#boxMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    height: 93%;
    width: 1000px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 메뉴판에 메뉴 */
#boxMenu .menu {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}

/* 장바구니 설정 */
#cartItems {
    width: 460px;
    height: 100%;
    overflow: auto;
    text-align: center;
    display: flex;               /* Flexbox 활성화 */
    flex-direction: column;      /* 세로 방향으로 정렬 */
    align-items: center;  
}

/* 장바구니 안에 메뉴 */
#cartItems .menu{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    width: 200px;
    box-sizing: border-box;
}

.menu img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

#boxCart {
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치 */
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 93%;
    box-sizing: border-box;
}


#totalPrice {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#calculateButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#calculateButton:hover {
    background-color: #45a049;
}

#cartBottom {
    margin-top: auto; /* 상단 요소들이 차지한 공간을 제외하고 하단으로 위치 */
    border-top: 1px solid #ddd;
    padding: 10px;
}